.trigger {
  position: fixed;
  bottom: 2rem;
  height: 3rem;
  display: flex;
  gap: 0.625em;
  align-items: center;
  padding-inline: 1.1rem 1.3rem;
  border: none;
  border-top-right-radius: 6.25rem;
  border-bottom-right-radius: 6.25rem;
  color: var(--color-grey-medium);
}
.trigger.ishide {
  background-color: transparent;
}
.trigger.isshow {
  background-color: var(--color-purple);
}

.content {
  min-height: 100vh;
  width: clamp(16.25rem, calc(13.393rem + 5.95vw), 18.75rem);
  background-color: var(--sidemenu-background-color);
  border-right: 1px solid var(--sidemenu-border-color);
}
:global(.theme-light) .content {
  --sidemenu-background-color: var(--color-white);
  --sidemenu-border-color: var(--color-grey-light-lines);
}
:global(.theme-dark) .content {
  --sidemenu-background-color: var(--color-grey-dark);
  --sidemenu-border-color: var(--color-grey-dark-lines);
}
