.base {
  margin-bottom: 1.25rem;
}

.label {
  composes: body-m from global;
  display: block;
  margin-bottom: 0.5rem;
}

.trigger {
  composes: body-l from global;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 2.5rem;
  padding-inline: 1rem;
  border: 1px solid var(--color-grey-medium-border);
  border-radius: 0.25rem;
}
:global(.theme-light) .trigger {
  color: var(--color-black);
  background-color: var(--color-white);
}
:global(.theme-dark) .trigger {
  color: var(--color-white);
  background-color: var(--color-grey-dark);
}
.trigger[aria-expanded='true'] {
  border-color: var(--color-purple);
}

.menu {
  composes: body-l from global;
  width: var(--popover-anchor-width);
  padding: 0.5rem 1rem;
  color: var(--color-grey-medium);
  border-radius: 0.5rem;
  box-shadow: 0 0.625rem 1.25rem rgba(54, 78, 126, 0.25);
}
:global(.theme-light) .menu {
  background-color: var(--color-white);
}
:global(.theme-dark) .menu {
  background-color: var(--color-grey-very-dark);
}

.option {
  padding-block: 0.25rem;
  cursor: pointer;
}
.option:hover,
.option[data-active-item] {
  color: var(--color-purple);
}
