.msg {
  composes: body-l from global;
  padding-bottom: 1.5rem;
  color: var(--color-grey-medium);
}

.buttonswrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.button {
  flex-grow: 1;
  min-width: 12.5rem;
}
