.component {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-content: center;
  gap: 1rem;
  font-size: 1.5rem;
}

.component code {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.8em;
  color: var(--color-red);
}
