.task {
  padding: 1.5rem 1rem;
  display: grid;
  gap: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.375rem rgba(54, 78, 126, 0.101545);
  cursor: pointer;
}
:global(.theme-light) .task {
  background-color: var(--color-white);
}
:global(.theme-dark) .task {
  background-color: var(--color-grey-dark);
}

.tasktitle {
  composes: heading-m from global;
}
:global(.theme-light) .tasktitle {
  color: var(--color-black);
}
:global(.theme-dark) .tasktitle {
  color: var(--color-white);
}

.task:hover .tasktitle {
  color: var(--color-purple);
}

.taskinfo {
  composes: body-m from global;
  color: var(--color-grey-medium);
}
