*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

:root {
  --font-family: 'Plus Jakarta Sans', sans-serif;
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --color-black: #000112;
  --color-grey-dark: #2b2c37;
  --color-grey-dark-lines: #3e3f4e;
  --color-grey-light-lines: #e4ebfa;
  --color-grey-medium: #828fa3;
  --color-grey-very-dark: #20212c;
  --color-grey-very-light: #f4f7fd;
  --color-purple: #635fc7;
  --color-purple-hover: #a8a4ff;
  --color-red: #ea5555;
  --color-red-hover: #ff9898;
  --color-white: #ffffff;
}

html,
body,
#__next {
  height: 100%;
}

body {
  font-family: var(--font-family);
}

.heading-xl {
  font-weight: var(--font-weight-bold);
  font-size: 1.5rem;
  line-height: 1.875rem;
}

.heading-l {
  font-weight: var(--font-weight-bold);
  font-size: 1.125rem;
  line-height: 1.4375rem;
}

.heading-m {
  font-weight: var(--font-weight-bold);
  font-size: 0.9375rem;
  line-height: 1.1875rem;
}

.heading-s {
  font-weight: var(--font-weight-bold);
  font-size: 0.75rem;
  line-height: 0.9375rem;
  letter-spacing: 0.15rem;
}

.body-l {
  font-weight: var(--font-weight-medium);
  font-size: 0.8125rem;
  line-height: 1.4375rem;
}

.body-m {
  font-weight: var(--font-weight-bold);
  font-size: 0.75rem;
  line-height: 0.9375rem;
}
