*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

:root {
  --font-family: 'Plus Jakarta Sans', sans-serif;
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --color-black: rgb(0, 1, 18);
  --color-grey-dark: rgb(43, 44, 55);
  --color-grey-dark-lines: rgb(62, 63, 78);
  --color-grey-light-lines: rgb(228, 235, 250);
  --color-grey-medium: rgb(130, 143, 163);
  --color-grey-medium-border: rgba(130, 143, 163, 0.25);
  --color-grey-very-dark: rgb(32, 33, 44);
  --color-grey-very-light: rgb(244, 247, 253);
  --color-purple: rgb(99, 95, 199);
  --color-purple-hover: rgb(168, 164, 255);
  --color-purple-light: rgba(99, 95, 199, 0.1);
  --color-purple-light-hover: rgba(99, 95, 199, 0.25);
  --color-red: rgb(234, 85, 85);
  --color-red-hover: rgb(255, 152, 152);
  --color-white: rgb(255, 255, 255);
  --color-white-hover: rgb(255, 255, 255, 0.85);
  --backdrop-color: rgba(0, 0, 0, 0.5);
  --header-height: clamp(4rem, calc(3rem + 4vw), 6rem);
}

html,
body,
#__next {
  height: 100%;
}

body {
  font-family: var(--font-family);
}

body.theme-light {
  background-color: var(--color-grey-very-light);
  color: var(--color-grey-medium);
}

body.theme-dark {
  background-color: var(--color-grey-very-dark);
  color: var(--color-white);
}

button,
input,
textarea {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--color-purple);
}
a:hover {
  color: var(--color-red);
}

.heading-xl {
  font-weight: var(--font-weight-bold);
  font-size: 1.5rem;
  line-height: 1.875rem;
}

.heading-l {
  font-weight: var(--font-weight-bold);
  font-size: 1.125rem;
  line-height: 1.4375rem;
}

.heading-m {
  font-weight: var(--font-weight-bold);
  font-size: 0.9375rem;
  line-height: 1.1875rem;
}

.heading-s {
  font-weight: var(--font-weight-bold);
  font-size: 0.75rem;
  line-height: 0.9375rem;
  letter-spacing: 0.15rem;
}

.body-l {
  font-weight: var(--font-weight-medium);
  font-size: 0.8125rem;
  line-height: 1.4375rem;
}

.body-m {
  font-weight: var(--font-weight-bold);
  font-size: 0.75rem;
  line-height: 0.9375rem;
}
