.container {
  width: 100%;
}

.title,
.list > * {
  padding-left: clamp(1.5rem, calc(0.93rem + 1.19vw), 2rem);
}

.title {
  composes: heading-s from global;
  padding-block: 1.25rem;
  text-transform: uppercase;
}

.list {
  list-style-type: none;
}
