.full-width {
  width: 100%;
}

.label {
  composes: body-m from global;
  line-height: normal;
}

.input {
  composes: body-l from global;
  width: 100%;
  min-height: 2.5rem;
  padding-inline: 1rem;
  border: 1px solid var(--color-grey-medium-border);
  border-radius: 0.25rem;
}
:global(.theme-light) .input {
  color: var(--color-black);
  background-color: var(--color-white);
}
:global(.theme-dark) .input {
  color: var(--color-white);
  background-color: var(--color-grey-dark);
}
.invalid .input {
  border-color: var(--color-red);
  outline-color: var(--color-red);
}

.errormsg {
  width: 100%;
  display: inline-block;
  font-size: 0.75rem;
  font-weight: var(--font-weight-medium);
  line-height: normal;
  text-align: right;
  color: var(--color-red);
}
